{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Build the chart
    $('#grafo1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Densidad de árboles de sombra'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_densidad.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Forma de copa de árboles de sombra'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_copa.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Arreglo de árboles'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_arreglo.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo4').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Cantidad de hojarasca'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_hojarasca.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo5').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Calidad de hojarasca'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_calidad_hojarasca.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo6').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Competencia de árboles con cacao'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_competencia.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo7').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Problema de sombra'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in dict_problema.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<style type="text/css">
    #grafo1,#grafo2,#grafo3,#grafo4,#grafo5,#grafo6,#grafo7{
        border: 1px solid #eee;
    }
    .panel-graficos .panel-heading{
        margin-bottom:20px;
    }
</style>

    <div class="container">
        <div class="salidas">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    {% include "guiascacao/menu_salidas.html" %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-default panel-graficos">
                        <div class="panel-heading  borde">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li class="active">Sombra</li>
                                    <li class="active">Análisis de sombra</li>
                                    <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                                </ol>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                <div class="col-md-12">
                                    <div id="grafo1" width='100%'></div>
                                </div>
                                <div class="col-md-12">
                                    <div id="grafo2" width='100%'></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="grafo3" width='100%'></div>
                                </div>
                                <div class="col-md-12">
                                    <div id="grafo4" width='100%'></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="grafo5" width='100%'></div>
                                </div>
                                <div class="col-md-12">
                                    <div id="grafo6" width='100%'></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="grafo7" width='100%'></div>
                                </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    <div class="panel panel-default  panel-descripcion">
                        <div class="panel-heading">
                            Basic panel example
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident est nemo, unde, commodi consequatur harum ad sed. Cum, omnis aperiam eveniet eligendi, blanditiis dicta ducimus qui, sequi impedit necessitatibus assumenda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock contenido %}
