{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos alturas de árboles mt'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [

              {% for k, v in grafo_altura.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
              {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos diametros de árboles en cm'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [

              {% for k, v in grafo_diametro.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
              {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Create the chart
    $('#grafo3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos ancho de copa de árboles en mt'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k, v in grafo_anchura.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
              {% endfor %}
            ]
        }]
    });
});
$("select").addClass("form-control");
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container">
        <div class="salidas">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    {% include "guiascacao/menu_salidas.html" %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-default panel-graficos">
                        <div class="panel-heading  borde">
                            <ol class="breadcrumb">
                                <li class="active">Sombra</li>
                                <li class="active">Dimenciones de arboles de sombra</li>
                                <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                            </ol>

                        </div>
                        <div class="panel-body">
                            <div class="datos">
                                <div class="container-fluid">
                                    <form class="form-inline formulario-uso" action='.' method='GET'>
                                        <div class="form-group">
                                            <label for="">Tipo uso del árbol</label>
                                           
                                            <select class="form-control" id='select_rango' name='usos'>
                                                <option value=''>-------</option>
                                                <option value='1'>Leña</option>
                                                <option value='2'>Fruta</option>
                                                <option value='3'>Madera</option>
                                                <option value='4'>Sombra</option>
                                                <option value='5'>Nutrientes</option>
                                            </select>
                                            
                                        </div>
                                        <input type="submit" value="Consultar" class="btn btn-form" name="Consulta"/>
                                    </form>
                 
                                </div>
                                
                            </div>
                            <div class="container-fluid">
                            

                                
                               
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="grafo1" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Alturas de los árboles en mt
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{promedio_altura|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{desviacion_altura|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{media_altura}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{minimo_altura}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{maximo_altura}}
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    
                                    <div class="col-md-9">
                                        <div id="grafo2" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Diametros de árboles en cm
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{promedio_diametro|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{desviacion_diametro|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{media_diametro}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{minimo_diametro}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{maximo_diametro}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                   
                                    <div class="col-md-9">
                                        <div id="grafo3" width='100%'></div>
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="list-group dato-grafico">
                                            <li class="list-group-item active">
                                                Ancho de la copa de árboles en mt
                                            </li>
                                            <li class="list-group-item">
                                                <b>Promedio:</b> {{promedio_anchura|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Desviación estandar:</b> {{desviacion_anchura|floatformat:2}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Mediana: </b>{{media_anchura}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango mínimo:</b> {{minimo_anchura}}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rango máximo:</b> {{maximo_anchura}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    <div class="panel panel-default  panel-descripcion">
                        <div class="panel-heading">
                            Basic panel example
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident est nemo, unde, commodi consequatur harum ad sed. Cum, omnis aperiam eveniet eligendi, blanditiis dicta ducimus qui, sequi impedit necessitatibus assumenda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}
