{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'En que meses se va a realizar acciones poda'
        },
        subtitle: {
            text: '% de frecuencia'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '% de conteo total'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Porcentaje: <b>{point.y:.1f} %</b>'
        },
        series: [{
            name: 'problema',
            data: [
              {% for k,v in meses.items %}

                  ['{{k}}', {{v|calcular_frecuencia:numero_parcelas}}],

              {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#000000',
                align: 'right',
                format: '{point.y:.1f} %', // one decimal
                y: -40, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Acciones para mejorar entrada de luz'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in luz.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Tienen herramientas?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in herramienta.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo4').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Tiene formación?'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in formacion.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<style type="text/css">
    #grafo3,#grafo4{
        border: 1px solid #eee;
    }
</style>
    <div class="container">
        <div class="salidas">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    {% include "guiascacao/menu_salidas.html" %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-default panel-graficos">
                        <div class="panel-heading  borde">
                                <ol class="breadcrumb">
                                    <li class="active">Poda</li>
                                    <li class="active">Tipos de poda a realizar</li>
                                    <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                                </ol>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="grafo1" width='100%'></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="grafo2" width='100%'></div>
                                     </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="grafo3" width='100%'></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="grafo4" width='100%'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    <div class="panel panel-default  panel-descripcion">
                        <div class="panel-heading">
                            Basic panel example
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident est nemo, unde, commodi consequatur harum ad sed. Cum, omnis aperiam eveniet eligendi, blanditiis dicta ducimus qui, sequi impedit necessitatibus assumenda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock contenido %}
