naranja = #ed713d
verde= #5a7a51
cafe= #804028
redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
  
sombras()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-border-shadow arguments
	box-shadow arguments

body
	margin 0px
.navbar-guias
	background-color naranja
	redondeado 0px
	border 0px
	.navbar-nav>li>a
		color white
		font-size 15px
		font-weight bold
		&:hover
		&:focus
			color white
	.navbar-nav>.active>a
		background-color white
		color naranja
		&:hover
		&:focus
			background-color white
			color naranja
	.navbar-brand
		padding 2px 15px
		img
			width 50px
			border-right 1px solid white
			padding-right 10px
			
			

.agricultor
	background-image url('../img/agricultor.png')
	background-repeat no-repeat
	padding-bottom 80px
.guia-cacao
	background-image url('../img/cacao.png')
	background-repeat no-repeat
	padding-bottom 80px
	.descripcion h5
		border-bottom 1px solid #ED713D
	.btn-guiacacao
		border 1px solid #ED713D
		padding 10px 20px
		color #ED713D
		margin-top 20px
.descripcion
	h5
		font-size 20px
		font-family 'Open Sans', sans-serif
		color naranja
		font-weight bold
		margin-bottom 20px
	p
		font-family 'Lato', sans-serif
		font-size 16px
		text-align justify
		line-height 1.5
.guia-menu
	h5
		color verde
		border-bottom 2px solid verde
		font-size 16px
		font-weight bold
	img
		width 70%
.list-guias
	padding 10px
	background #FAFAFA
	margin-bottom 10px
	a
		margin-top 5px
	h5
		margin-top 5px
	
.blanco
	background white
	min-height 517px
	.title-widget:before
		background-color #ED713D
.f-tamano
	min-height 356px
.verde
	color #5a7a51
.list-indicadores li
	color #6b3a35 !important
	border-bottom 1px solid #6b3a35
	display block
	font-weight bold
	margin-top 10px

.hola h5, .title-consulta h5
	font-family 'Open Sans', sans-serif
	color naranja
	font-weight bold
	margin-bottom 20px
	border-bottom 1px solid naranja
	text-align left
.filtro
	margin-bottom 20px
	padding 15px
	background-color #eee
	.panel-consulta
		margin-bottom 0px
		background-color transparent
		border 0px
		sombras 0px 0px 0px rgba(0,0,0,0)
		.panel-heading
			background-color verde
			color white
			font-weight bold
			font-size 16px
			font-family 'Open Sans', sans-serif
			letter-spacing 1px
			redondeado 0px
		.panel-body
			redondeado 0px
			background-color transparent
			.form-group
				margin-bottom 0px
				label
					text-transform initial
					color black
					font-weight bold
				.form-control
					font-size 12px
					height 34px
					border 1px solid verde
		.btn-form
			margin-top 10px
			background-color verde
			color white
		.text-consulta
			font-family 'Open Sans', sans-serif
			font-size 12px
			text-align center
.ind
	list-style none
	li
		margin-bottom 10px
		font-size 13px
		text-align left
		a
			text-decoration none
			color #2F2F2F
			font-weight bold
	.list-header
		font-size 16px
		font-weight bold
		border-bottom 1px solid cafe
		color cafe
.contenido
	border-bottom 20px solid #ED713D		
