{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container">
        <div class="salidas">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    {% include "guiascacao/menu_salidas.html" %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-default panel-graficos">
                        <div class="panel-heading  borde">
                                <ol class="breadcrumb">
                                    <li class="active">Vivero</li>
                                    <li class="active">Observaciones</li>
                                    <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                                </ol>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive tabla-especies">
                                            <table class="table table-bordered table-striped">
                                            <caption>Observaciones cantidad de plantas</caption>
                                                <thead>
                                                    <tr>
                                                        <th>No. de observaciones</th>
                                                        <th>Promedio</th>
                                                        <th>Mediano</th>
                                                        <th>Minimo</th>
                                                        <th>Maximo</th>
                                                        <th>Desviación estandar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope=row>{{cantidad_plata|length}}</th>
                                                        <td>{{cantidad_planta_promedio}}</td>
                                                        <td>{{cantidad_planta_mediano}}</td>
                                                        <td>{{cantidad_planta_minimo}}</td>
                                                        <td>{{cantidad_planta_maximo}}</td>
                                                        <td>{{cantidad_planta_desviacion}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="table-responsive tabla-especies">
                                            <table class="table table-bordered table-striped">
                                            <caption>Observaciones edad de las plantas</caption>
                                                <thead>
                                                    <tr>
                                                        <th>No. de observaciones</th>
                                                        <th>Promedio</th>
                                                        <th>Mediano</th>
                                                        <th>Minimo</th>
                                                        <th>Maximo</th>
                                                        <th>Desviación estandar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope=row>{{edad_planta|length}}</th>
                                                        <td>{{edad_planta_promedio}}</td>
                                                        <td>{{edad_planta_mediano}}</td>
                                                        <td>{{edad_planta_minimo}}</td>
                                                        <td>{{edad_planta_maximo}}</td>
                                                        <td>{{edad_planta_desviacion}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="grafo1" width='100%'></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive tabla-especies">
                                            <table class="table table-bordered table-striped">
                                            <caption></caption>
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>#</th>
                                                        <th>Promedio</th>
                                                        <th>Mediano</th>
                                                        <th>Minimo</th>
                                                        <th>Maximo</th>
                                                        <th>Desviación estandar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k,v in dicc_plagas.items %}
                                                    <tr>
                                                        <th scope=row>{{k}}</th>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1}}</td>
                                                        <td>{{v.2}}</td>
                                                        <td>{{v.3}}</td>
                                                        <td>{{v.4}}</td>
                                                        <td>{{v.5}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="grafo2" width='100%'></div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden-xs">
                    <div class="panel panel-default  panel-descripcion">
                        <div class="panel-heading">
                            Basic panel example
                        </div>
                        <div class="panel-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident est nemo, unde, commodi consequatur harum ad sed. Cum, omnis aperiam eveniet eligendi, blanditiis dicta ducimus qui, sequi impedit necessitatibus assumenda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock contenido %}
