{% extends "guiascacao/base.html" %}

{% block contenido %}
	<div class="guia-cacao">
		<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="descripcion">
					<h5>Caja de herramientas para el cultivo de cacao</h5>
					<p>
						Trabajando de la mano con las productoras y productores de cacao y las organizaciones locales se desarrolló y validó una caja de herramientas para la  observación, análisis y toma de decisiones a nivel de finca y el monitoreo del impacto de las decisiones tomadas. La herramienta de toma de decisiones consiste en una serie de siete fichas técnicas que guían a productores y técnicos a través de un proceso de aprendizaje en sus fincas, y brindan una manera de dar seguimiento a los avances.
					</p>
					<p>
						El ciclo inicia con una evaluación inicial de la finca, seguida por visitas periódicas para brindar asistencia sobre sombra y poda, plagas y piso, manejo de suelo, vivero y cosecha y diseño de sistemas agroforestales. Al finalizar el ciclo, se realiza una evaluación final de los avances en la parcela experimental y en la finca. Este proceso requiere la participación de los productores y las organizaciones territoriales en la recolección de datos, los cuales son clave para informar los componentes integrados de manejo y producción de una mejor manera.
					</p>
				</div>
				<a href="/cacao" class="btn btn-guiacacao">
					Explorar Datos
				</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
				<h5 class="verde">Indicadores</h5>
				<lu class="list-indicadores">
					<li>Sombra</li>
					<li>Poda</li>
					<li>Plaga</li>
					<li>Piso</li>
					<li>SAF</li>
					<li>Cosecha</li>
					<li>Vivero</li>
					<li>Cierre</li>
				</lu>
				
				
				
			</div>
		</div>
	</div>
{% endblock contenido %}