{% extends "guiascacao/base.html" %}

{% block contenido %}
	<div class="guia-cacao">
		<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<div class="descripcion">
					<h5>Herramienta de cacao</h5>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime provident fuga laborum officia quas, esse autem, perspiciatis odio, dolores repellendus consequatur commodi sequi assumenda voluptatum dolor voluptas ratione, cupiditate in.
					</p>
					<p>
						Eu. Habitasse a adipiscing dignissim hac purus, ultrices et, enim enim etiam phasellus porta magna scelerisque arcu lacus amet amet mattis dis eros. Tristique amet elit in mus a! Et, mus, turpis cursus dignissim odio, tristique! Lacus, pid facilisis! Placerat nascetur? Dapibus ut sit ac. Eu tempor, sit augue tristique urna dis cras massa amet! Cras velit, odio eu? Elit dignissim.
					</p>
					<p>
						Risus in urna mauris? Et purus ac, aliquam cras risus pellentesque velit? Nec porttitor, vel elementum magna magna, egestas adipiscing. Massa et penatibus aliquam, natoque porttitor tempor? Augue massa augue ac augue, in enim integer mus. Duis habitasse elit! Nec turpis tortor mus purus nisi turpis nisi, dictumst ultricies sit a a. Turpis in, massa, integer in tincidunt et aliquam, rhoncus eros sagittis ac, parturient, turpis pulvinar cum augue porta, dapibus, augue cursus et massa dignissim in aenean? Nunc mid enim pellentesque mattis hac! Vut placerat porttitor nunc! Ultricies parturient, lectus, vel, montes aliquet in rhoncus lundium sociis ut, adipiscing egestas ac.
					</p>
				</div>
				<a href="/cacao" class="btn btn-guiacacao">
					Explorar Datos
				</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
				<h5 class="verde">Indicadores</h5>
				<lu class="list-indicadores">
					<li>Sombra</li>
					<li>Poda</li>
					<li>Plaga</li>
					<li>Piso</li>
					<li>SAF</li>
					<li>Cosecha</li>
					<li>Vivero</li>
					<li>Cierre</li>
				</lu>
				
				
				
			</div>
		</div>
	</div>
{% endblock contenido %}