{% extends "guiascacao/base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $("#id_productor").autocomplete({
    source: "/cacao/api/productor/",
    minLength: 2,
  });
});

  // $(function() {
  //   $( "#id_productor" ).autocomplete({
  //     source: function( request, response ) {
  //       $.ajax({
  //         url: "/cacao/api/productor/",   //"http://gd.geobytes.com/AutoCompleteCity",
  //         dataType: "json",
  //         data: {
  //           q: request.term,
  //         },
  //         success: function( data ) {
  //           response( data );
  //         }
  //       });
  //     },
  //     minLength: 3,
  //     select: function( event, ui ) {
  //       log( ui.item ?
  //         "Seleccionado: " + ui.item.label :
  //         "Nada seleccionado, introdujo " + this.value);
  //     },
  //     open: function() {
  //       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  //     },
  //     close: function() {
  //       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  //     }
  //   });
  // });
    $("select").addClass("form-control");
    $("#id_productor").addClass("form-control");

  </script>
{% endblock extra_js %}

{% block contenido %}

<div class="container hola">
    <h5>Guía Cacao</h5>
<!--     <div class="title-consulta">
        <h5><i class="fa fa-filter" aria-hidden="true"></i> Filtro</h5>
    </div> -->
    <div class="filtro">
        <div class="panel panel-default panel-consulta">
            <div class="panel-heading">
                Filtro
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <p class="text-consulta">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eaque, molestiae voluptatem fuga, temporibus inventore at enim sequi vel modi, voluptatibus veniam eum. Optio sit, fuga ullam explicabo, accusantium animi.
                        </p>
                        <form  action="." method="POST"> {% csrf_token %}
                            {% if request.user.is_authenticated %}
                            <div class="form-group">
                                <label for="">Nombre del {{form.productor.label}}</label>
                                {{form.productor}}                        
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="">{{form.fecha.label}}</label>
                                {{form.fecha}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.organizacion.label}}</label>
                                {{form.organizacion}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.pais.label}}</label>
                                {{form.pais}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.departamento.label}}</label>
                                {{form.departamento}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.municipio.label}}</label>
                                {{form.municipio}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.comunidad.label}}</label>
                                {{form.comunidad}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.sexo.label}}</label>
                                {{form.sexo}}
                            </div>
                            <div class="form-group">
                                <label for="">{{form.tipologia.label}}</label>
                                {{form.tipologia}}
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Consultar" class="btn btn-form" name="Consulta"/>
                            </div>                           
                        </form> 
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2815791.7756924047!2d-85.49772068669144!3d12.920590005233452!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sni!4v1475524012802" width="100%" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                
            </div>
        </div>


    </div>

</div>
{% if centinela %}
<style type="text/css">
    .hola{display: none}
</style>
<div class="container">
    <div class="title-consulta">
        <h5>Guía Cacao</h5>
    </div>
    <div class="filtro">
        
        <div class="panel panel-default panel-consulta">
            <div class="panel-heading">
                Indicadores
            </div>
            <div class="panel-body">
                 {% include "guiascacao/menu_salidas2.html" %}
            </div>
        </div>
        
    </div>
</div>
{% endif %}






















{% endblock contenido %}
